<!doctype html>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org" 
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout.html :: head"></head>
<body style="background-color: #EEEEEE">

<div  th:replace="layout.html :: sidenav" > </div>


<div style="height: 50px;"></div>
<form class="selectDateTimes">	
	<div>
		<input type="date" name="datetimes">			
		<label for="cars">Choose a times:</label>
		  <select class="Times-Select"  name="times" id="times">
		    <option value="1">1</option>
		    <option value="2">2</option>
		    <option value="3">3</option>
		    <option value="4">4</option>
		    <option value="5">5</option>
		  </select>		
		  <input type="button" onclick="ajaxfunction()" value="Search">
	</div>
</form>

<form class="userchecked">	
	<div style="height: 50px;"></div>
	<div class="container" style="margin: 0; margin-left: 5%; height: 10%;">
		<div class="row" >
		    <div class="col-4" style="border:solid 1px black; "  >		    			    	
		    	<table>		    		
		    		<tr th:each="membetList : ${membetList}" th:object="${membetList}">
		    			<td><input type="checkbox" class="membercheck" th:text="${membetList.nickName}"  th:name="${membetList.id}"></td>		    			
		    		</tr>
		    	</table>
		    </div>
	    	<div class="col-8" style="border:solid 1px black;">
	    	</div>
	  	</div>
	</div>
</form>

<form	action="/addParty" method="post">
	<button type="submit">add party</button>
</form>
	
<div style="height: 50px;"></div>
<div>
	<h2>add member</h2>
	<form action="/signup" method="post"> 			
		<input type="text" >
		<br/>
		<input type="submit" value="signup">
	</form>
</div>

<div style="height: 50px;"></div>		
<div>
	<form action="/userProfile" method="get">
		<button type="submit">user config</button>
	</form>
</div>


</body>
<th:block th:replace="layout.html :: scriptLayout"></th:block>
<script type="text/javascript">
function ajaxfunction(){
	
	var  serial = jQuery(".selectDateTimes").serialize().split('&');
	var  datesAndTimes = [];
	
	for(var i in serial){
		var tmp = serial[i].split('=');
		if(!tmp[1]) {
			alert(tmp[0] + 'is null');
		}else{
			datesAndTimes.push(tmp[1]);
		}
	}
	if(datesAndTimes.length <2){
		alert(' times is null');
	} 

	var userSerial = jQuery(".userchecked").serialize().split('&');	
	var checkedUser = [];
	for(var i in userSerial){
		checkedUser.push(userSerial[i].split('=')[0] ) ;
	}

	var test = {'datetimes' :datesAndTimes[0],
				'times' : datesAndTimes[1],
				'user' : checkedUser };
	
 	$.ajax({
		type:		"POST",
		url :		"http://localhost:8080/tests",
		data:		JSON.stringify(test),
		contentType: "application/json; charset=UTF-8",
		dataType:	"json",
		success:function(){consle.log("success") }
			
	});

}
</script>

</html>